[Unit]
Description=Jetforce Server - gemini protocol server
After=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=5
User=jetforce
Group=jetforce
Environment="PYTHONUNBUFFERED=1"
ExecStart=/usr/local/bin/jetforce \
    --host 89.163.145.170 \
    --port 1965 \
    --hostname envs.net \
    --dir /var/gemini \
    --tls-certfile /srv/jetforce/ssl/fullchain.pem \
    --tls-keyfile /srv/jetforce/ssl/privkey.pem \
    --tls-cafile /srv/jetforce/ssl/chain.pem \
    --tls-capath /srv/jetforce/ssl/

[Install]
WantedBy=default.target
